<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener
      </h1>
    </header>

    <main>
      <h3 class="bold">Example usage:</h3>
      <p>
        https://lead-toast.glitch.me/new/https://www.google.com
      </p>
      <p>
        https://lead-toast.glitch.me/new/http://foo.com:80
      </p>
      <h3 class="bold">Example output:</h3>
      <p>
        { "original_url":"http://www.google.com", "short_url":"https://lead-toast.glitch.me/81" }
      </p>
      <p>
        { "original_url":"http://foo.com:80", "short_url":"https://lead-toast.glitch.me/8170" }
      </p>
    </main>
  </body>
</html>
